<form action="" method="" class="needs-validation" novalidate>


    <div class="form-group">
    <label for="nombre">Nombre</label>
        <input type="text" id="nombre" class="form-control"  name="nombre" placeholder="Ingresar nombre" required>
        <div class="invalid-feedback">
            Se requiere el nombre
        </div>
    </div>


    <div class="form-group">
        <label >Email</label>
        <input type="email" name="email" class="form-control form-control-lg" placeholder="Ingresa correctamente tu email" required>
        <div class="invalid-feedback">
            Se requiere cuenta oficial
        </div>
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" name="pswd" class="form-control form-control-lg" required>
        <div class="invalid-feedback">
            Se requiere contraseña
        </div>
    </div>
    <div class="form-group">
        <label>Confirmar Password</label>
        <input type="password" name="pswdConf" class="form-control form-control-lg" required>
        <div class="invalid-feedback">
            Se requiere confirmar contraseña
        </div>
    </div>
    <br>
    <div class="form-group">
        <button type="submit" name="signUp" style="width:100%" class="btn btn-lg btn-primary">Registrar</button>
    </div>
</form>