<div class="text-center">
  <h2>Datos de los Recados</h2>
  <h4 class="lead">Favor de llenar todos los campos sin excepcion</h4>
</div>


<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger"
            routerLink="/recados">
      <i class="fa fa-arrow-left"></i>
      Bandeja
    </button>
  </div>
</div>


<div class="container">
  <div class="row container mt-4">
<div class="row">
  <div class="d-flex justify-content-center py-2">
      <main class="">
          <form (ngSubmit)="guardar( f )" #f="ngForm">

              <div class="py-2 text-center">
                  <h3>Recado</h3>
              </div>

              <div class="row row-space">

                  <!-- SECCION 1 -->
                  <div class="py-2 text-center">
                      <p class="lead"> Verifica los datos ingresados</p>
                  </div>

                  <div class="form-group">
                      <label>Firebase ID</label>
                      <input type="text"
                             class="form-control"
                             placeholder="Firebase ID"
                             [(ngModel)]="recado.id"
                             name="id"
                             disabled="disabled">
                      <small class="form-text text-muted">Este campo es autogenerado</small>
                    </div>
                  

                  <!-- Nombre del recado -->
                  <div class="col-6 py-2">
                    <label for="" class="text-center">Nombre del Recado</label>
                    <input type="text" class="form-control" name="nombreRecado" [(ngModel)]="recado.nombreRecado" placeholder="Escribe el nombre del Recado" required>
                </div>

                  <!-- NOMBRE DEL CLIENTE -->
                  <div class="col-6 py-2">
                    <label for="" class="text-center">Nombre </label>
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="recado.nombre"  placeholder="Escribe del CLIENTE" equired>
                </div>

                  <!-- TELEFONO -->
                  <div class="col-6 py-2">
                      <label for="" class="text-center">Telefono</label>
                      <input type="text" class="form-control" name="telefono" [(ngModel)]="recado.telefono "placeholder="Escribe la telefono" required>
                  </div>

                  <!-- RECADO -->
                  <div class="col-6 py-2">
                      <label for="" class="text-center">Recado</label>
                      <input type="text" class="form-control" name="Recado" [(ngModel)]="recado.recado" placeholder="Escribe el Recado" required>
                  </div>
                  
                  <hr class="my-4">
                  <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-primary" style="width:50%">
                         <i class="fa fa-save">Registrar</i>
                      </button>
                  </div>
              </div>
          </form>
      </main>
  </div>
</div>
</div>
</div>